# UI界面库
PyQt6>=6.9.0

# 按键模拟库
keyboard>=0.13.5
pynput>=1.8.0

# Windows API库（用于窗口识别）
pywin32>=306

# 图像处理
opencv-contrib-python>=4.9.0
numpy>=1.26.0
mss>=9.0.0
pillow>=10.0.0

# 屏幕工具
pyautogui>=0.9.50

# 打包工具（可选，开发时用）
# pyinstaller>=6.6.0
